body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Inter", sans-serif;
}
.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}
.font-weight-bold {
    font-weight: 600;
}
.grid-container {
    display: grid;
    /* grid-template-columns: 260px 1fr 1fr 1fr; */
    grid-template-columns: 233px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    /* grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main"; */
    grid-template-areas: 
    "header2 header header header"
    "sidebar main main main";
    height: 100vh;
}
/* ----------------HEADER-------------- */
.header {
    grid-area: header;
    height: 66px;
    background: #FFFFFF;
    border-bottom: 1px solid #EAECF0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    /* box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2); */
}
.header2 {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    display: inline-block;
    height: 100%;
    width: 232px;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    color: #282828;
    border-right: 1px solid #EAECF0;
}
.header-mobile {
    display: none;
}
.header2-logo {
    margin-top: 10%;
    margin-left: 10%;
}
/* .logo {
    margin-top: 20px;
    margin-left: 27px;
}
.logo-name {
    margin-top: -12px;
    margin-left: 64px;
} */
.right-logo {
    margin-left: 10%;
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    /* padding: 0px; */
    gap: 8px;
    /* width: 82%;
    height: 72%; */
    width: 905px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 6px;
}
.header-right {
    display: flex;
    justify-content: space-between;
    width: 9%;
}
/* .header-right .image {
    display: flex;
    justify-content: space-between;
    width: 9%;
} */
.searchbar2 {
    display: none;
}

/* ----------------SIDEBAR-------------- */
#sidebar {
    grid-area: sidebar;
    /* height: 100%; */
    width: 232px;
    height: 1024px;
    background: #FFFFFF;
    border-right: 1px solid #EAECF0;
    color: #9799ab;
    overflow-y: auto;
    /* transition: all 0.5s;
    -webkit-transition: all 0.5s; */
}
.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}
.sidebar-title > span {
    display: none;
}
.pages {
    padding-left: 20px;
    /* padding: 20px 20px 20px 20px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #9D9FA2;
}
.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #282828;
}
.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #5F6980;
}
.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
/* ----------------MAIN-------------- */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}
.main-title {
    display: flex;
    justify-content: space-between;
}
.main-title > p {
    font-size: 20px;
}
.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    margin: 20px 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    /* border: 1px solid #d2d2d3; */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}
/* .card:first-child{
    border-left: 7px solid #246dec;
}
.card:nth-child(2){
    border-left: 7px solid #f5b74f;
}
.card:nth-child(3) {
    border-left: 7px solid #367952;
}
.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
} */
.card > span {
    font-size: 20px;
    font-weight: 600;
}
.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-inner > p {
    font-size: 18px;
}
.card-inner > span {
    font-size: 35px;
}
/* ----------------MAIN-------------- */


/* Medium <= 992px */

@media screen and (max-width: 992px){
    .grid-container{
        grid-template-columns: 1fr; 
        /* grid-template-columns: 1fr 5fr 0.4fr 1fr; */
        grid-template-rows: 0.2f 3fr 1fr 1fr;
        /* grid-template-areas: 
            "sidebar-brand"
            "main"
            ""; */
    }
    /* .header-left{
        display: none;
    } */
    .sidebar-brand {
        display: inline;
    }
    #sidebar {
        height: 0.2px;
    }
    .sidebar-list {
        display: none;
    }
    .pages {
        display: none;
    }
    /* #sidebar{
        display: none;
    } */
    /* .sidebar-title > span {
        display: inline;
    } */
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
    .main-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
}
/* Extra small <= 576px */

@media screen and (max-width: 576px){
    body {
        background-color: #FFFFFF;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header2 header"
        "main main";
        /* height: 100vh; */
        width: 111%;
    }
    .main-container {
        overflow-y: inherit;
    }
    .header {
        box-shadow: none;
        height: 46%;
        border-bottom: none;
        width: 313px;
        /* width: 160%; */
        /* padding-top: 10%; */
    }
    .header-mobile {
        display: flex;
    }
    /* .header2 {
        border-right: none;
    } */
    .header2 {
        display: none;
    }
    .card {
        width: 343px;
        height: 132px;
        padding: 12px 16px;
        align-items: flex-start;
        gap: 8px;
    }
    .header-logo-mobile {
        margin-top: 40%;
        margin-left: 10%;
    }
    .image {
        /* padding: 0% 0% 104% 10%; */
        position: absolute;
        margin-left: 10%;
        top: 5.84px;
        left: 73%;
        top: 2%;
    }
    /* .header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    } */
    /* .main-cards{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    } */
    /* .header .header2{
        height: 50%;
    } */
    /* .header2 {
        grid-area: header;
    } */
    .header-right {
        display: none;
    }
    /* .header-left {
        grid: header2 header;
        width: 70%;
        height: 50px;
        margin-top: 120px;
    } */
    .header-left {
        display: none;
    }
    .searchbar2 {
        /* width: 343px;
        height: 46px;
        display: flex;
        margin: -19px 0 40px 0;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #EAECF0;
        border-radius: 6px; */

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 16px;
        gap: 8px;
        width: 90%;
        height: 46px;
        background: #FFFFFF;
        border: 1px solid #EAECF0;
        border-radius: 6px;
     }
}
