.popup-body {
    justify-content: center;
    padding: 16px 21px;
    padding-right: 27px;
    padding-left: 32px;
    margin-bottom: 150px;
    margin-top: 38px;
}
.container-date-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
  }
  .option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .health,
  .work,
  .home,
  .other {
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border-radius: 6px;
    margin-right: 12px;
    padding: 2px 8px;
    text-align: center;
    width: 52px;
    height: 19px;
    cursor: pointer;
  }
  .health {
    background-color: rgba(60, 134, 244, 0.31);
    color: #0053CF;
  }
  .work {
    background-color: #E8D7FF;
    color: #9747FF;
  }
  .home {
    background-color: #E2F7E2;
    color: #639462;
  }
  .other {
    background-color: #FFECC7;
    color: #EA8C00;
  }
  .calendar {
    width: 117px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #ffffff;
    border: 2px solid rgba(60, 134, 244, 0.6);
    border-radius: 12px;
    padding: 10px 16px;
  }

.popup-body .title-task {
    width: 100%;
    height: 100%;
    border: 1px solid #D2D2D2;
    background: #F5F5F5;
    font-size: 17px;
    border-radius: 12px;
    padding: 16px 21px;
    gap: 10px;
}