.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
}
.close {
    width: 49.5%;
    height: 52px;
    color: #0053CF;
    background: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    margin-left: auto;
    padding: 16px 32px;
}
.addTask2 {
    width: 49.5%;
    height: 52px;
    cursor: pointer;
    color: #ffffff;
    background-color: #D3D3D3;
    border: transparent;
    font-size: 16px;
    font-weight: 800;
    margin-left: auto;
    padding: 16px 32px;
    border-radius: 12px;
}
.addTask2.active {
  background-color: #3C86F4;
}
.popup-header {
    background-color: #fff;
    color: #000000;
    display: flex;
    padding: 2px 16px;
}
.popup-header h2{
    margin: auto;
    margin-top: 24px;
}
.popup-body {
    justify-content: center;
    padding: 16px 21px;
    padding-right: 27px;
    padding-left: 32px;
    margin-bottom: 150px;
    margin-top: 38px;
}
.container-date-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
  }
  .option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .health,
  .work,
  .home,
  .other {
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border-radius: 6px;
    margin-right: 12px;
    padding: 2px 8px;
    text-align: center;
    width: 52px;
    height: 19px;
    cursor: pointer;
  }
  .health.selected,
  .work.selected,
  .home.selected,
  .other.selected {
  background-color: #ffefc7;
  color: #9b7e46;
}

  .health {
    background-color: rgba(60, 134, 244, 0.31);
    color: #0053CF;
  }
  .work {
    background-color: #E8D7FF;
    color: #9747FF;
  }
  .home {
    background-color: #E2F7E2;
    color: #639462;
  }
  .other {
    background-color: #FFECC7;
    color: #EA8C00;
  }

  
  .calendar {
    width: 117px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #ffffff;
    border: 2px solid rgba(60, 134, 244, 0.6);
    border-radius: 12px;
    padding: 10px 16px;
  }

.popup-body .title-task {
    width: 100%;
    height: 100%;
    border: 1px solid #D2D2D2;
    background: #F5F5F5;
    font-size: 17px;
    border-radius: 12px;
    padding: 16px 21px;
    gap: 10px;
}
.popup-footer {
    color: white;
    padding-right: 27px;
    padding-left: 32px;
}
.popup-content{
    position: relative;
    background-color: #fefefe;
    margin: 100px auto 20px;
    padding: 24px 30px 22px;
    border-radius: 24px;
    width: 43.3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}