html, body {
	margin: 0;
	padding: 0;
	width: 30%;
	height: 30%;
}

body {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

svg {
  	animation: upDown 1s ease-in-out infinite;
}
.loader-pointer {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
  transform-origin: bottom center;
	animation: spin 4s linear 7;
  -moz-animation: spin 4s linear 7;
  -webkit-animation: spin 4s linear 7;
}

.loader-line {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
  transform-origin: bottom center;
	animation: spin 27s linear;
  -moz-animation: spin 27s linear;
  -webkit-animation: spin 27s linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg);-moz-transform-origin: 50% 50%; }
    to { -moz-transform: rotate(360deg);-moz-transform-origin: 50% 50%; }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);-webkit-transform-origin: 50% 50%; }
    to { -webkit-transform: rotate(360deg);-webkit-transform-origin: 50% 50%; }
}
@keyframes spin {
    from {transform:rotate(0deg);transform-origin: 50% 50%;}
    to {transform:rotate(360deg);transform-origin: 50% 50%;}
}
